body
{
    background-color:antiquewhite;
}

h1
{
    font-size:60px;
}

#a1-1:link
{
    background-color: aliceblue;
    color: green;
    border: groove black 2px;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#a1-1:visited 
{
    color: pink;
    text-decoration: none;
}
#a1-1:hover 
{
    color: red;
    text-decoration: underline;
}
#a1-1:active 
{
    color: yellow;
    text-decoration: underline;
}

image
{
    width:640px;
    height:360px;
}

#p2-1 
{
    color: red;
}

#pre2-1
{
    color: brown;
}

h3 
{
    background-color: aqua;
}

#p3-1 
{
    background-color: aquamarine;
    font-size: 200%;
}

#p3-2 
{
    text-align: center;
}

#p5-1
{
    border: solid powderblue 2px;
    padding: 10px;
    margin: 20px;
}